.Heading{
    text-align: center;
    color: rgb(0, 38, 255);
}
.buttons{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;


}
.top_button{
    width: 10%;}

Button{
    height: 40px;
    width: 90%;
}